.header{
    background: #f1efe4;
    display:flex;
}
.nav_img{
    margin-right: 10%;
    width: 30px;
}
#basic-navbar-nav{
    justify-content:flex-end;
}
.nav-drop .nav-link{
    color:#4b4a4a;
}
.top_div{
    display: flex;
}

.mx_auto{
    width: 50px;
    height: 50px;
}
@media only screen and (max-width: 990px) {
    main{
        margin-top: 80px;
    }
    .mx_auto{
        margin: 0 auto;
    }

    .top_div hr{
        width: 80%;
        height: 1px;
        background-color: black;
        border-radius: 7px;
    }
    nav.header {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 100;
    }
    .navbar-collapse{
        position: fixed;
        top: 1px;
        background: #ffff;
        box-shadow: 0px 9px 58px 1px black;
        left: -100%;
        width: 75%;
        height: 100vh;
        opacity: 1;
        transition: left 0.3s ease;
        z-index: 100;
    }
    .top_div{
        z-index: 100;
        position: fixed;
        top: 80px;
        display: flex;
        flex-direction: column;
    }
    .col_div{
        display: flex;
    }

    .navbar-collapse.show{
        left: 0;
    }
    .nav-img{
        text-align: center;
        margin-top:70px;
    }
    .nav-link{
        text-align: center;
        font-size: 25px;
    }
    .dropdown-menu{
        text-align: center;
    }

    #basic-navbar-nav{
        justify-content:center;
    }
}