.modal-content{
    align-items: center;
    justify-content: center;
}
.pop_title{
    font-weight: bold;
    margin: 5% 19% 15% ;
}


.custom-checkbox .custom-control-input:checked~.custom-control-label::before{
    background-color:#79d953;
    border: none;
    border-radius: 50%;
}
.custom-control-label{
    font-size: 14px;


}

/** focus shadow pinkish **/
.custom-checkbox .custom-control-input:focus~.custom-control-label::before{
    box-shadow: 0 0 0 1px #79d953;
    border-radius: 50%;
}


.custom-file-upload {
    border: 1px dashed #ccc;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    color: #3b6ff1;
}

.custom-file-upload small{
    margin-top: 10%;
    margin-bottom: 10%;
    color: #949db0;
}
.popBtn{
    padding: 4%;
    background: #427cff;
    width: 40%;
    margin-top: 25%;
    margin-left: 30%;
}
@media screen and (max-width:700px) {
    .popBtn{
        margin-top: 20%;
        width: 40%;
    }
    #root{
        line-height: 40px;
    }
}

.div_success_presentation{
    background: #eaf6ff;
    color: #4777f2;
    padding: 3%;
    margin-top: 2%;
    border-radius: 5px;
    position: absolute;
    width: 92%;
}