.share_title{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
    font-weight: 700;
}
.share_title p{
    font-size: 13px;
    font-weight: 400;
    color: #949db0;
    margin-top: 10%;
    margin-bottom: 0;
}
.div_butt{
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(45deg);
    width: 30px;
    height: 30px;
    background: #4e85eb;
    color: white;
    border-radius: 50%;
    margin-bottom: 2%;

}
.copy_div{
    float: right;
    color:#cfebd5;
    text-align: center;
    border-radius: 5px;
    position: absolute;
    margin-top: 7px;
    right:2.45%;
}
.link_input{
    background: #e8f3e9;
    color:#509151;
    border-radius: 5px;
    height: 30px;
    opacity: 0.7!important;
}
.link_input_copy{
    background: #e8f3e9;
    color:#509151;
    border-radius: 5px;
    height: 30px;
    opacity: 1;
}
.link_button{
    background: #e7eefb;
    color: #2b56a4;
    border: none;
    margin-left: 1%;
    border-radius: 5px;
}

.get_link{
    display: flex;
    align-items: center;
    width: 23%;
    justify-content: space-between;
}
.clos_btn{
    width: 120px;
    height: 45px;
    background: #427cff;
    margin-bottom: 30%;
    margin-top: 10%;
}