.scroll_min{
    background: #f1efe4;
    height: 100vh;
    overflow-y: scroll;
}
.scroll_min div{
    margin-top: 10%;
}
/* width */
.scroll_min::-webkit-scrollbar {
    border-radius: 5px;
    width:0px;
}
.slide_card{
    border: none;
    height: 100vh!important;
}
.car_img{
   height: 80vh;
    margin-left: 5%;
    display: block;
    width: 90%;

}

.custom-chevron-right{
    height: 30px;
    width: 35px;
    clip-path: polygon(50% 0, 100% 50%, 50% 100%, 40% 100%, 90% 50%, 40% 0);
    background-color:#427cff;
}
.custom-chevron-left{
    height: 30px;
    width: 35px;
    clip-path: polygon(50% 0, 0 50%, 50% 100%, 60% 100%, 10% 50%, 60% 0);
    background-color: #427cff;
}
.carousel-control-next, .carousel-control-prev{
    width: 4%!important;
}
.camera_btn{
    float: right;
    margin-right: 5%;
    color:slategrey;
    font-size: 22px;
}
.active_scroll{
border: 2px solid slategrey ;
    box-shadow: 5px 10px 8px 10px #888888;
}
.carousel-indicators{
    display: none;
}

.private_pop{
    background: rgba(239,237,227, 0.8);
}


.pdf_sld .react-pdf__Page__canvas{
    width: 100% !important;
    height: 20vh!important;
}


.pdf_load{
    height:90vh;
    display: flex;
    align-items:center;
    flex-direction:column;
}

.item_img{
    padding-left: 40px;
    padding-right: 40px;
}

.present_img{
    background-size: contain;
    width: 100%;
    background-position: center;
    height: 85vh;
    background-repeat: no-repeat;
}
.car_pdf{
    padding-left: 8%;
}
.car_pdf .react-pdf__Page__canvas{
    width: 55vw !important;
    height: 80vh !important;
    margin-left: 5% !important;
    margin-bottom: 3% !important;
}