.pres{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: white;
}

.PRES{
    display: block;
    background: white;
}
.PRES .modal-lg{
    height: 100%!important;
    max-width: 100%!important;
}

.PRES .modal-content{
    border: none;
}
.pdf_load{
    height:90vh;
    display: flex;
    align-items:center;
    flex-direction:column;
}

.pres_carousel{
   margin: auto;
    background-size: contain;
    width: 100%;
    background-position: center;
    height: 85vh;
    background-repeat: no-repeat;
}
.card_pdf{
    padding-left: 19%!important;
}
.card_pdf .react-pdf__Page__canvas{
    width: 55vw !important;
    height: 90vh !important;
    margin-left: 5% !important;
    margin-bottom: 3% !important;
}