.input_title{
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #d0d6e3;
    outline: none;
    margin-top: 0;
    padding-top: 0;
}
.input_title::placeholder {
font-size: 12px;
    opacity: 0.5; /* Firefox */
}
.title{
    border-bottom: 2px solid #ef5d7d;
}
.div_warning{
    position: absolute;
    font-size: 12px;
    border-radius: 5px;
    color:#ef5d7d;
    padding:3px;
}
.div_warning_file{
    background: #ef5d7d;
    color: white;
    padding: 3%;
    margin-top:2% ;
    border-radius: 5px;
    position: absolute;
   width: 92%;

}
.custom-file-upload input[type=file]{
    display: none;
}
.div_success{
    background:linear-gradient(45deg, #79d953 ,#c5fba9);
    color:white;
    padding: 3%;
    margin-top: 2%;
    border-radius: 5px;
    position: absolute;
    width: 92%;
}
.upload_icon_form{
    font-size: 90px;
    margin-top: 25%;
    margin-bottom: 7%;
    color:#79c5ff;
}