.popbtn{

    display: flex;
    justify-content: flex-end;
    margin-top: 10%;
    margin-bottom: 5%;

}
.popbtn button{
    position: fixed;
    bottom: 20px;

    border-radius: 50%;
}
.error_load{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 80px;
}
.spr{
    background: initial;
    width: 85px;
    height: 85px;
    box-shadow: 3px 2px 3px #f9e06a;
    border-top: 4px dotted #eea200;
    border-right: 5px dotted #ff9407;
    border-left: 1px dotted #ff9407;
}
.control_buttons{
   opacity: 0;
    display: flex;
}
.control_hover:hover .control_buttons{
    opacity: 1;
}