.hom_card{
      width: 100%;
    height: 100%;
   min-height: 1000px;

    background: #f1efe4;
}

.twitt-log{
    width: 40px;
    margin-left: 5%;
    background: transparent;
}

.button-twitt{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    background: #499deb;
    color: #f1efe4;
    border-radius: 10px;
    width: 25%;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    margin-bottom: 2%;
}
.button-twitt span{
    margin-left: 10%;
}
@media screen and (max-width:700px) {
    .button-twitt{
        margin-top: 25px;
        width: 90%;
    }
    #root{
        line-height: 40px;
    }
}
.hom_foot{
    margin-top: 35%;
}
